.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: beige;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.logo img {
    max-width: 15vw;
    height: auto;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#b2, #b3 {
    background-color: beige;
    size: 20px;
    border-color: transparent;
    padding: 10px;
    margin-left: 10px;
    margin-right:10px;
    color: rgb(0, 0, 0);
    text-size-adjust: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    min-width: 7vw;
    font-size: 17px;
}
#b1 {
    background-color: cadetblue;
    size: 30px;
    border-color: transparent;
    padding: 10px;
    margin-left: 10px;
    margin-right:30px;
    min-width: 7vw;
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 17px;
}
