.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: cadetblue;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.logo img {
    max-width: 15vw;
    height: auto;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#b1, #b2, #b3 {
    background-color: white;
    size: 20px;
    border-color: transparent;
    padding: 10px;
    margin-left: 10px;
    margin-right:30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    min-width: 7vw;
}
