.container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
}

.container div{
  width: 50vw;
  height: 90vh;
}

.image img {
  width: 100%;
  height: 100%;
}

.rectangle img {
  width: 100vh;
  height: 5vh;
}

.text h1 {
  text-align: center;
  color: rgb(255, 105, 105);
  width: 75%;
  height: auto;
  font-size: 160px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text h3 {
  text-align: center;
  color: rgb(30, 30, 30);
  width: 60%;
  height: auto;
  font-size: 30px;

}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
}
.content p {
  display: block;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  text-align: justify;
  margin: 20px;
}
.text img {
  width: 100%;
  height: 100%;
}

#b4 {
  margin: 40px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: cadetblue;
  font-size: 25px;
  border-radius: 50px;
  border-color: transparent;
}

#b4 img {
  display: flex;
  width: 300px;
  height: auto;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

}